* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bgImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#option-group {
    font-family: "Montserrat", sans-serif;
    background: #f4f4f4;
    margin-left: 35px;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#option-group h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#option-group label {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#option-group label:hover {
    background: #e0e0e0;
}

#option-group input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: #0033A0;
}


#formCadastro {
    background: rgba(255, 255, 255, 0.808);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px;
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#formCadastro {
    margin-bottom: 15px;
}

#formCadastro input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 330px;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid #ccc;
    border-radius: 5px;
}

i{
    font-size: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#extra-links > a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    margin-left: 40px;
}

#extra-links > a:hover{
    text-decoration: underline;
}

